AppConfigScreen {
    align: center middle;
}
AppConfigScreen AppConfigView {
    width: auto;
    height: auto;
    background: $surface;
    border: round $accent;
    border-title-color: $accent;
    border-title-style: bold;
    padding: 1 2;
}
